<!-- basic styles -->
<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
<link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css" />
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css" />
<![endif]-->
<!-- page specific plugin styles -->

<!-- ace styles -->
<link rel="stylesheet" href="{{STATIC_URL}}css/ace.min.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/ace-responsive.min.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/ace-skins.min.css" />
<!--[if lt IE 9]>
		  <link rel="stylesheet" href="{{STATIC_URL}}css/ace-ie.min.css" />
<![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/additional.css" />